# Environment variables
.env

# Build output
dist/
build/

# OS / editor noise
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Coverage / testing
coverage/

# Runtime files
*.pid
*.seed

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Local bot config/data
config.yml
duck_data/ducks.db
duck_data/html/

log.txt