[Unit]
Description=Fishin Tiffin (dev)
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
Type=simple
WorkingDirectory=/root/github/Fishin-Tiffin-dev
ExecStart=/root/github/Fishin-Tiffin-dev/venv/bin/python main.py

[Install]
WantedBy=multi-user.target
